<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	<link href="css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="js/My97DatePicker/WdatePicker.js"></script>
<link href="js/My97DatePicker/SKIN/WdatePicker.css" rel="stylesheet" type="text/css">
<script>
	$(function(){
		 //日期选择控件
	 	$("#startDate").click(function(){
			WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endDate\')}',isShowClear:true, readOnly:true });
		});
		$("#endDate").click(function(){
			WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startDate\')}',isShowClear:true, readOnly:true });
		});
	});
</script>
</head>
<body>
	<div class="action  divaction">
		<div class="t">请假列表</div>
		<div class="pages">
			<div class="forms">
				<form id="leave_searchLeave_action" name="queryForm"
					action="ckqj.html"
					method="get">
					<label for="time">开始时间</label> <input type="text" name="sTime"
						value="" id="startDate" class="nwinput"> <label
						for="end-time">结束时间</label> <input type="text" name="eTime"
						value="" id="endDate" class="nwinput" readonly=""> <input
						type="hidden" name="pageNo" value="1"> <input
						type="hidden" name="pageSize" value="5"> <input
						type="submit" id="leave_searchLeave_action_0" value="查询"
						class="submit_01">

				</form>
			</div>
			<!--增加报销单 区域 开始-->
			<table id="vmLeave" width="90%" border="0" cellspacing="0" cellpadding="0"
				class="list items">
				<thead>
					<tr class="even">
						<td>编号</td>
						<td>名称</td>
						<td>发起时间</td>
						<td>审批时间</td>
						<td>审批意见</td>
						<td>待处理人</td>
						<td>审批状态</td>
						<td>操作</td>
					</tr>
				</thead>
				<tbody>
					
						<tr v-for="(temp,index) in pageinfo.list">
							<td><a href="javascript:void(0)">{{temp.leaveId}}</a></td>
							<td><span>{{temp.employeeName}}</span>请假<span>{{temp.totalCount}}</span>天</td>
							<td>{{temp.createTime}}</td>
							<td>{{temp.checkTime}}</td>
							<td>{{temp.resultName}}</td>
							<td>
								{{temp.nextDealMan}}
							</td>
							<td>
								{{temp.statusName}}
								<input id="checkId" type="hidden" value="temp.checkId" />
							</td>
							<td>
								<a href="qjxq.html">
									<img src="images/search.gif" width="16" height="15">
								</a>
								<template v-if="">
									<a href="qjxq.html">
										<img src="images/sub.gif" width="16" height="15">
									</a>
								</template>
							</td>
						</tr>
					

					<!-- <tr>
						<td><a href="leave_getLeaveById.action?leave.id=143">143</a></td>
						<td>张平请假1.0天</td>
						<td>2013-09-09 15:10</td>
						<td></td>
						<td></td>
						<td>待审批</td>
						<td>
							<a href="claimVoucher_toUpdate.action?claimVoucher.id=133">
									<img src="images/edit.gif" width="16" height="16">
							</a> 
							<a onclick="delVoucher(133)" href="#"> <img
								src="images/delete.gif" width="16" height="16">
							</a> 
							<a target="rightFrame" href="leaveDetail.jsp"><img
								src="images/search.gif" width="16" height="15"></a>
							<a target="rightFrame" href="leaveCheck.jsp"> <img
								src="images/sub.gif" width="16" height="16"></a></td>
					</tr> -->

					<tr>
						<td colspan="7" align="center">
							<div class="page-bar">

								<a href="/jboa/leave/findList?sTime=&eTime=&pageNum=1&pageSize=10">首页</a>
								&nbsp;&nbsp;
								
								&nbsp;&nbsp;
								
									<a href="/jboa/leave/findList?sTime=&eTime=&pageNum=2&pageSize=10">下一页</a>
								
								&nbsp;&nbsp; <a href="/jboa/leave/findList?sTime=&eTime=&pageNum=3&pageSize=10">末页</a>							
								&nbsp;&nbsp; &nbsp;&nbsp;第 1页/共3页&nbsp;&nbsp;共21条记录
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<!--请假 区域 结束-->
		</div>
	</div>
</body>
<script type="text/javascript" src="js/vue.js" ></script>
<script type="text/javascript" src="js/jq_ajax_config.js" ></script>
<script type="text/javascript">
	
	var vmLeave = new Vue({
		el: "#vmLeave",
		data: {
			pageinfo:{},
			employye:{}
		},
		methods: {
			
		},
		mounted: function() {
			//ajax读取远程数据
			let _this = this;
			jQuery.getJSON('http://localhost:8080/springmvc_oa/api/emps/emp/session',function(res){
				console.info(res);
				_this.employye=res;	
				let departmentId = res.departmentId;
				let employeeId = res.employeeId;
				if(res.positionId == 1){
					jQuery.getJSON(`http://localhost:8080/springmvc_oa/api/leaves/leave/dept/${departmentId}/1/8`,function(data){
						_this.pageinfo = data;
					});
				}else if(res.positionId == 4 || res.positionId == 7 || res.positionId == 0){
					jQuery.getJSON(`http://localhost:8080/springmvc_oa/api/leaves/1/8`,function(data){
						_this.pageinfo = data;
					});
				}else{
					jQuery.getJSON(`http://localhost:8080/springmvc_oa/api/leaves/leave/now/${employeeId}/1/8`,function(data){
						_this.pageinfo = data;
					});
				}
			});
		}
	});
	
</script>
</html>
